use master
go
create database [dbQuanLyGiaoSua]
go
USE [dbQuanLyGiaoSua]
GO
/****** Object:  Table [dbo].[Quan]    Script Date: 12/26/2020 9:59:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Quan](
	[maQuan] [char](50) NOT NULL,
	[tenQuan] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maQuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TruongHoc]    Script Date: 12/26/2020 9:59:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TruongHoc](
	[maTruong] [int] IDENTITY(1,1) NOT NULL,
	[tenTruong] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nvarchar](max) NULL,
	[KinhDo] [float] NULL,
	[ViDo] [float] NULL,
	[MaQuan] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTruong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Quan] ([maQuan], [tenQuan]) VALUES (N'BINHTAN                                           ', N'QUẬN BÌNH TÂN')
INSERT [dbo].[Quan] ([maQuan], [tenQuan]) VALUES (N'GOVAP                                             ', N'QUẬN GÒ VẤP')
INSERT [dbo].[Quan] ([maQuan], [tenQuan]) VALUES (N'HUYENBINHCHANH                                    ', N'HUYỆN BÌNH CHÁNH')
SET IDENTITY_INSERT [dbo].[TruongHoc] ON 

INSERT [dbo].[TruongHoc] ([maTruong], [tenTruong], [DiaChi], [SDT], [KinhDo], [ViDo], [MaQuan]) VALUES (1, N'CLC ĐỒNG XANH', N'6/6/18 Ấp 3, Đường Xuân Thới Thượng 9', N'DĐ: 0933657758', 106.585457, 10.853454, N'HUYENHOCMON                                       ')
INSERT [dbo].[TruongHoc] ([maTruong], [tenTruong], [DiaChi], [SDT], [KinhDo], [ViDo], [MaQuan]) VALUES (2, N'MĂNG NON 19/8', N'114/5C, Nguyễn Thị Thử , Ấp 2 Xã Xuân Thới Sơn', N'(028) 37139697', 106.5822441, 10.877506, N'HUYENHOCMON                                       ')
INSERT [dbo].[TruongHoc] ([maTruong], [tenTruong], [DiaChi], [SDT], [KinhDo], [ViDo], [MaQuan]) VALUES (3, N'BÉ NGOAN 1', N'21/6 LÊ LỢI TT Hóc Môn', N'(028) 37100849', 106.5937824, 10.8895605, N'HUYENHOCMON                                       ')
GO
SET IDENTITY_INSERT [dbo].[TruongHoc] OFF
ALTER TABLE [dbo].[TruongHoc]  WITH CHECK ADD  CONSTRAINT [fk_T_Q] FOREIGN KEY([MaQuan])
REFERENCES [dbo].[Quan] ([maQuan])
GO
ALTER TABLE [dbo].[TruongHoc] CHECK CONSTRAINT [fk_T_Q]
GO
